/* add your styling and layout CSS here */

/* a {
  text-decoration: none;
} */
.navbar-item:hover {
  background-color: transparent !important;
  color: rgb(161, 161, 161) !important;
}
.navbar-item {
  background-color: transparent !important;
  /* color: rgb(161, 161, 161) !important; */
}
.navbar-menu {
  background-color: transparent !important;
}
.cont {
  width: 100%;
  height: 50vh;
}

/* Membership button toggle */
.only-small {
  display: none;
}

.invisible {
  display: none;
}

/* Add no opacity to top part -> fill in bottom part */
.bottom-shape {
  height: 100px;
  width: 100%;
  margin-top: -100px;
}

.tennis-ball {
  display: block;
  height: 320px;
  width: 320px;
  margin: auto;
  margin-top: -200px;
  margin-right: 100px;
  /* padding-left: 50vw; */
}

.maps-photo {
  display: block;
  text-align: left;
  width: 100%;
  margin-top: -1em;
  background-image: url("../images/map4.jpg");
  background-size: cover;
  border-radius: 0 0 10px 0;
  border-left: solid rgb(219, 219, 219) 5px;
  /* border: solid rgb(219, 219, 219) 5px; */
  height: 300px;
}

.maps-photo:hover {
  cursor: pointer;
}
.maps-photo img {
  border-radius: 0 0 10px 0;
  border-left: solid rgb(219, 219, 219) 5px;
  height: 100%;
}

/* .maps-photo img:hover {
  border-radius: 0 0 160px 0;
  border-left: solid rgb(219, 219, 219) 5px;
  width: 105%;
} */

.stroke-text {
  -webkit-text-stroke: 1px rgb(56, 56, 56);
}

.back-pic {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.covid {
  border-bottom: solid black 1px;
  padding-bottom: 50px;
  text-align: center;
}

.about-us {
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Leagues Page */
.leagues-heading {
  text-decoration: underline;
}

.dotted-bottom {
  border-bottom: 1px dotted black;
}

.league-section {
  background-color: #fafafa;
  border: 1px solid black;
  border-radius: 10px;
}

.center {
  margin: auto;
  width: 100%;
  height: 100%;
}
.full-screen {
  height: 100vh;
}

.form {
  width: 100%;
  height: 98%;
}
.contact-card {
  text-align: center;
  border: 1px rgb(65, 65, 65) solid;
  border-left: 8px green solid;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(236, 236, 236);
}

.size {
  width: 45%;
  align-items: center;
}

/* Calendar */
.calendar {
  width: 100%;
  height: 100px;
  background-color: aqua;
}

.tabs {
  margin: 0 !important;
}

/* .days {
  grid-template-columns: [monday] auto [tuesday] auto [wednesday] auto [thursday] auto [friday] auto;
  grid-template-rows: [week1] auto [week2] auto [week3] auto [week4] auto [week5] auto;
} */

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.85em;
  color: #777;
  vertical-align: text-top;
  min-height: 55px;
}

.days li p {
  /* text-align: left; */
  color: black;
  padding: 15px 0;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}

.calendar-title {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  padding: 25px 10px;
  border: 1px solid rgb(216, 216, 216);
}

.important-notice-card {
  margin-top: -30px;
}

.important-notice-card-header {
  background-color: #d5df1b !important;
}

.closed-notification-message {
  font-size: 1.3em;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

/* Calendar Done */

/* Temp Calendar */

.tempCal {
  min-height: 10em;
  font-size: 2em;
}

@media only screen and (max-width: 1100px) {
  .tennis-ball {
    height: 250px;
    width: 250px;
    margin-top: -200px;
  }
}
@media only screen and (max-width: 1023px) {
  .navbar-menu {
    /* background-color: transparent !important; */
    border-bottom: 1px white solid;
  }
  .size {
    width: 95%;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .tennis-ball {
    height: 100px;
    width: 100px;
    margin-top: -100px;
  }
  /* .back-pic {
    background-image: url("../images/background.jpg");
    background-attachment: scroll;
  } */

  .about-us {
    background-image: url("../images/background2.jpg");
    /* background-size: cover; */
    background-attachment: scroll;
  }
  .weekdays li {
    width: 13%;
  }
  .calendar-title {
    font-size: 1.2em;
  }
  .days li {
    font-size: 0.65em;
  }
}

/* CHANGE BUTTON TO GO DIRECTLY TO FORM */
@media only screen and (max-width: 350px) {
  .only-big {
    display: none;
  }
  .only-small {
    display: block;
  }
  .days li {
    font-size: 0.45em;
  }
}
