/* add your styling and layout CSS here */

/* a {
  text-decoration: none;
} */
.navbar-item:hover {
  background-color: transparent !important;
  color: rgb(161, 161, 161) !important;
}
.navbar-item {
  background-color: transparent !important;
  /* color: rgb(161, 161, 161) !important; */
}
.navbar-menu {
  background-color: transparent !important;
}
.cont {
  width: 100%;
  height: 50vh;
}

/* Membership button toggle */
.only-small {
  display: none;
}

/* Add no opacity to top part -> fill in bottom part */
.bottom-shape {
  height: 100px;
  width: 100%;
  margin-top: -100px;
}

.tennis-ball {
  display: block;
  height: 320px;
  width: 320px;
  margin: auto;
  margin-top: -200px;
  margin-right: 100px;
  /* padding-left: 50vw; */
}

.maps-photo {
  display: block;
  text-align: left;
  width: 80%;
  margin-top: -1em;
  background-image: url("../images/map4.jpg");
  background-size: cover;
  border-radius: 0 0 160px 0;
  border-left: solid rgb(219, 219, 219) 5px;
  /* border: solid rgb(219, 219, 219) 5px; */
  height: 300px;
}

.maps-photo:hover {
  cursor: pointer;
}
.maps-photo img {
  border-radius: 0 0 160px 0;
  border-left: solid rgb(219, 219, 219) 5px;
  height: 100%;
}

.maps-photo img:hover {
  border-radius: 0 0 160px 0;
  border-left: solid rgb(219, 219, 219) 5px;
  width: 105%;
}

.stroke-text {
  -webkit-text-stroke: 1px rgb(56, 56, 56);
}

.back-pic {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.covid {
  border-bottom: solid black 1px;
  padding-bottom: 50px;
  text-align: center;
}

.about-us {
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Leagues Page */
.leagues-heading {
  text-decoration: underline;
}

.dotted-bottom {
  border-bottom: 1px dotted black;
}

.league-section {
  background-color: #fafafa;
  border: 1px solid black;
  border-radius: 10px;
}

.center {
  margin: auto;
  width: 100%;
  height: 100%;
}
.full-screen {
  height: 100vh;
}

.form {
  width: 100%;
  height: 98%;
}
.contact-card {
  text-align: center;
  border: 1px rgb(65, 65, 65) solid;
  border-left: 8px green solid;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(236, 236, 236);
}

@media only screen and (max-width: 1100px) {
  .tennis-ball {
    height: 250px;
    width: 250px;
    margin-top: -200px;
  }
}
@media only screen and (max-width: 1023px) {
  .navbar-menu {
    /* background-color: transparent !important; */
    border-bottom: 1px white solid;
  }
}
@media only screen and (max-width: 600px) {
  .tennis-ball {
    height: 100px;
    width: 100px;
    margin-top: -100px;
  }
  /* .back-pic {
    background-image: url("../images/background.jpg");
    background-attachment: scroll;
  } */

  .about-us {
    background-image: url("../images/background2.jpg");
    /* background-size: cover; */
    background-attachment: scroll;
  }
}

/* CHANGE BUTTON TO GO DIRECTLY TO FORM */
@media only screen and (max-width: 350px) {
  .only-big {
    display: none;
  }
  .only-small {
    display: block;
  }
}
